[defaults]
inventory = inventories/common,inventories/test
roles_path = roles
local_tmp = .state/ansible/tmp
remote_tmp = ~/.ansible/tmp
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
